<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NuCache Explorer</title>
    
    <!-- Vue JS Lib -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- Code Mirror Lib -->
    <script src="node_modules/codemirror/lib/codemirror.js"></script>

    <!-- Code Mirror JS Mode/Language -->
    <script src="node_modules/codemirror/mode/javascript/javascript.js"></script>

    <!-- Code Mirror Code Folding Addon -->
    <script src="node_modules/codemirror/addon/fold/foldcode.js"></script>
    <script src="node_modules/codemirror/addon/fold/foldgutter.js"></script>
    <script src="node_modules/codemirror/addon/fold/brace-fold.js"></script>
    <script src="node_modules/codemirror/addon/fold/xml-fold.js"></script>
    <script src="node_modules/codemirror/addon/fold/indent-fold.js"></script>
    <script src="node_modules/codemirror/addon/fold//markdown-fold.js"></script>
    <script src="node_modules/codemirror/addon/fold/comment-fold.js"></script>
    <link rel="stylesheet" href="node_modules/codemirror/addon/fold/foldgutter.css">

    <!-- Main Code Mirror CSS -->
    <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">

    <!-- Monokai Code Mirror Theme CSS -->
    <link rel="stylesheet" href="node_modules/codemirror/theme/monokai.css">
    
    <!-- Code Mirror Vue JS Component -->
    <script type="text/javascript" src="node_modules/vue-codemirror/dist/vue-codemirror.js"></script>

    <!-- LoDash like Underscore lib -->
    <script src="node_modules/lodash/lodash.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <!-- Infinite Loader (http://tobiasahlin.com/spinkit/) -->
      <div class="spinner" v-if="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>

      <!-- Empty State -->
      <div v-if="!nucacheOpen && !isLoading" class="drop-parent">
        <div class="drop" 
          v-on:dragstart.prevent="dragStart"
          v-on:dragover.prevent="addDragOver" 
          v-on:dragenter.prevent="addDragOver" 
          v-on:drop.stop.prevent="onDrop"
          v-on:dragleave.prevent="removeDragOver"
          v-on:dragend.prevent="removeDragOver"
          v-bind:class="{ isDragover: isDragging }">
          
          <div>
            <button v-on:click.stop.prevent="openFileDialog">Select or Drop a NuCache file</button>
          </div>
          
          <!-- Used when dragging to give instant feedback before sending it to server -->
          <div class="error" v-if="wrongFileType">
            This is not a .db file - try again
          </div>

          <!-- If Server API returns a 404 or 400 -->
          <div class="error" v-if="serverError">
            {{ serverError }}
          </div>         

        </div>
      </div>

      <!-- Raw Data -->
      <div v-if="nucacheOpen && apiData" class="viewer">

        <p>{{ apiData.TotalItems }} total items took {{ apiData.StopClock }} milliseconds to read</p>
        <div>
          Viewing <strong>{{ documentPosition }}</strong> of <strong>{{ apiData.TotalItems }}</strong> items
        </div>

        <!-- Paging through items -->
        <div>
          <label for="currentDocument">Goto Item Number:</label>
          <input v-model.number="documentPosition" type="number" id="documentPosition" min="1"  v-bind:max="apiData.TotalItems" />
          <button v-bind:disabled="!hasPrevious" v-on:click="documentPosition -= 1">&laquo; Previous</button>
          <button v-bind:disabled="!hasNext" v-on:click="documentPosition += 1">Next &raquo;</button>
        </div>

        <!-- Super simple search/filter -->
        <div>
          <input type="text" name="search" placeholder="1085 or 73cbde24-84cf-484d-8621-9d2534bb910c" v-model="documentToFind"/>
          <select  v-model="findBy">
            <option value="Id" selected>Id</option>
            <option value="Uid">Uid</option>
          </select>
          <button v-on:click="findDocument">Find</button>
        </div>

        <codemirror v-model="codeMirrorString" :options="codeMirrorOptions"></codemirror>

      </div>
    </div>
    
    <script>
      //The super simple Vue.js init
      require('./app.js');

      // Renderer - the proxy that listens from events/signals emitted from app-menu.js
      // Which updates the properties in Vue - which thus updates our UI
      require('./renderer.js');
    </script>
  </body>
</html>