.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

.CodeMirror {
    height: calc(100vh - 100px);
    margin-top: 10px;
}

body, html {
  margin:0;
  padding:0;
  font-family: "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
}

.drop-parent {
  padding:10px;
}

.drop {
  border: 4px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 2px;
  margin:0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
  box-sizing: border-box;
  flex-direction: column;

}

.drop.isDragover {
  background-color: #e6e4e4;
 }

 .drop button {
   border: none;
   padding:8px 5px;
   font-family: "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
 }

.error {
  margin:10px 0;
  color:rgba(185, 10, 10, 0.85);
}

.viewer {
  padding:10px;
}

.options-group {
  display: flex;
}

.options-item {
  display: flex;
  flex-basis: 33.3%;
  flex-grow: 1;
}

.options-item.left {
  justify-content: flex-start;
}

.options-item.center {
  justify-content: center;
}

.options-item.right {
  justify-content: flex-end;
}

.options-item p {
  margin: 9px;
}

button.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 .75rem;
  font-size: .875rem;
  line-height: 34px;
  height: 36px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #ebebeb;
  color: #1d1d1d;
  cursor: pointer;
  outline: none;
  position: relative;
}

.button:hover {
  text-decoration: none;
  background-color: #d1d1d1;
}

select.select {
    border: 1px #d9d9d9 solid;
    color: #1d1d1d;
    display: block;
    padding: 0 .75rem;
    font-size: 1rem;
    height: 36px;
    line-height: 36px;
    background: #ffffff none;
    background-clip: padding-box;
    min-width: 0;
}

input.text, input.number {
      appearance: none;
      border: 1px #d9d9d9 solid;
      color: #1d1d1d;
      display: block;
      padding: 0 .75rem;
      height: 34px;
      background: #ffffff none;
}

input, select, button {
  margin: 2px;
}